.airline-tile {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04), 0 3px 6px 0 rgba(25, 32, 36, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}

.airline-tile:hover {
  border: 1px solid #363f45;
}

.tile-img {
  width: 32px;
  height: 32px;
}

.info-title {
  font-size: 16px;
  font-weight: bolder;
}

.tile-info {
  font-size: 14px;
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site {
  color: #5a6872;
}
