.filter h3 {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 23px;
}

.filter label {
  font-size: 14px;
  font-weight: normal;
  margin: auto 24px auto 10px;
  position: relative;
  bottom: 50%;
}

.filter input {
  width: 20px;
  height: 20px;
  margin: 0;
}

form {
  display: flex;
}
